# build
dist/
.astro/

# deps
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets (ex.: credenciais do Directus no futuro)
.env
.env.*
!.env.example

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
